<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.baboi.cristian.musicalstructure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArtistActivity"
            android:label="@string/artist_title"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.baboi.cristian.musicalstructure.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlbumActivity"
            android:label="@string/album_title"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.baboi.cristian.musicalstructure.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TrackActivity"
            android:label="@string/track_title"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.baboi.cristian.musicalstructure.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- utility activities -->
        <activity
            android:name=".utils.activities.LoginCallback"
            android:label="@string/activity_login_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="eu.baboi.cristian.musicalstructure" />
            </intent-filter>
        </activity>

        <activity
            android:name=".utils.activities.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.baboi.cristian.musicalstructure.MainActivity" />
        </activity>
    </application>
</manifest>